<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
<h2>Add a new article</h2>
<div class="dashboard">
  <div class="dashboard__item dashboard__item--full">
      <form>
        <input type="text" name="title" class="form-control" placeholder="Title">

        <textarea name="text" class="summernote"></textarea>

        <button class="btn btn-info submit float-right">Add Article</button>
      </form>
      <div class="success">
        <h1><i class="fa fa-check-circle text-info"></i> Your article has been added successfully!</h1>
        <a id="link" href="/"><i class="fa fa-eye"></i> Check it out!</a>
        <a href="/"><i class="fa fa-home"></i> Go Home</a>
      </div>
    </div>
</div>
<script type="text/javascript" src="/assets/ejs.min.js"></script>
<script type="text/javascript" src="/assets/bootbox.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".summernote").summernote({
    height: 300
  });
});
function addConfirm() {
  bootbox.confirm({
    message: "Are you sure you want to add this article?",
    buttons: {
      confirm: {
        label: "Yes",
        className: "btn-success"
      },
      cancel: {
        label: "No",
        className: "btn-light"
      }
    },
    callback: function(result) {
      if (result) addArticle();
    }
  });
}
function addArticle() {
  $.ajax({
    url: "/api/article/add",
    method: "POST",
    data: {
      title: $("input[name='title']").val(),
      article: $("textarea").val()
    },
    success: function(data) {
      console.log(data);
      if (data.ok) {
        var title = $("input[name='title']").val();
        title = title.replace(/\s+/g, "-").toLowerCase();
        $("#link").prop("href", "/article/" + title);
        $("form").fadeOut("slow", () => {
          $(".success").fadeIn("fast");
        });
      }
    }
  });
}
$(".submit").on("click", e => {
  e.preventDefault();
  addConfirm();
});
</script>
