<h2>Dashboard</h2>
<div class="dashboard">
  <div class="dashboard__item">
    <div class="card">
      <strong>41</strong> Views per article
    </div>
  </div>
  <div class="dashboard__item">
    <div class="card">
      <strong>62</strong> Total # of articles
    </div>
  </div>
  <div class="dashboard__item dashboard__item--full">
    <div class="card row">
      <div class="col-md-6 offset-md-3">
        <canvas id="users"></canvas>
      </div>
      <div class="col-md-6 offset-md-3">
        <canvas id="visits"></canvas>
      </div>
    </div>
  </div>
  <div class="dashboard__item dashboard__item--col">
    <div class="card">A</div>
  </div>
  <div class="dashboard__item dashboard__item--col">
    <div class="card">B</div>
  </div>
  <div class="dashboard__item dashboard__item--col">
    <div class="card">C</div>
  </div>
  <div class="dashboard__item dashboard__item--col">
    <div class="card">D</div>
  </div>
</div>
