<%- include('partials/header') %>

<div class="container main-cont">
  <div class="row">
    <h3><%= data.title %></h3>
    <p class="w-100">
      <%- data.article %>
    </p><br>
    <div class="info">
      <strong>Author: </strong>Mouad Khchich <br>
      <strong>Views: </strong>69 <br>
      <strong>Date: </strong>29-01-1999 <br>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
